*{
	box-sizing: border-box;
 }
 
body{
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	min-height: 100vh;
	margin: 0;
}

header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 120px;
	background-color: black;
	color: white;
	margin-top: 0;
	vertical-align: middle;
	padding-left: 25px;
	position: fixed;
}

nav ul{
	display: flex;
	flex-direction: row;
	color: white;
	float: right;
	list-style: none;
	text-align: right;
	margin-right: 10px;
	margin-top: 45px;
}

nav li{
	padding-right: 50px;
}

nav a{
	color: white;
}

.navActive{
	text-decoration: none;
}

.container-documentation{
	display: flex;
	flex-direction: column;
}

main{
	margin-top: 125px;
	padding-left: 25px;
	padding-right: 25px;
}

.documentation-table{
	width: 100%;
	border-collapse: collapse;
	border: 1px solid;
}

.documentation-table th{
	height: 50px;
	vertical-align: middle;
	text-align: center;
	background-color: cornflowerblue;
	color: white;
	font-weight: 500;
	border: 1px solid;
	border-color: black;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.documentation-table td{
	vertical-align: middle;
	text-align: center;
	background-color: white;
	color: black;
	font-weight: 100;
	border: 1px solid;
	padding: 10px;
}

.left-align{
	text-align: left;
}

.json-object{
	color:dodgerblue;
	font-style: italic;
}

.db-name{
	font-style: italic;
}

.divider{
	width: 100%;
	border-bottom: 1px solid lightgray;
	margin-top: 50px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 50px;
}